@import "../../public.scss";

.main {
  max-width: 1000px;
  margin: 0 auto 10px auto;
  padding: 10px 0;
  h1,
  h2,
  h3 {
    color: $primary-color;
    font-weight: normal;
  }

  .education {
    .header {
      background-color: $primary-color;
      padding: 10px 10%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      h2 {
        color: white;
        font-weight: normal;
        margin: 0;
      }

      .navigate {
        display: flex;
        flex-direction: row;
        gap: 10px;

        button {
          width: 100px;
          margin: 0;
        }

        .button {
          background-color: $bg-color;
          color: $primary-color;
          border: solid 1px $bg-color;
          &:hover {
            background-color: #0d3356;
            color: white;
            border: solid 1px white;
          }
        }

        .button_alt {
          border: solid 1px white;
          color: white;
          &:hover {
            background-color: #0d3356;
            color: white;
          }
        }
      }
    }

    .body {
      padding: 20px 10%;
      iframe {
        width: 100%;
        aspect-ratio: 16/9;
      }

      figure {
        margin: auto;
        img {
          width: 100%;
        }
      }
    }

    > div:nth-child(3) {
      background-color: $bg-color;
      min-height: calc(100vh - 20px);
    }
  }

  .resource {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 3fr;
    ul {
      padding: 0;

      li {
        border-left: solid 2px silver;
        padding: 5px 0 5px 20px;

        a {
          text-decoration: none;
        }
      }
    }
  }
}
