@import "../../public.scss";
.main {
  margin: 100px;

  h2 {
    color: $main-color;
    font-family: Inter;
  }

  p {
    color: $main-color;
  }

  img {
    width: 90%;
    max-width: 800px;
  }

  text-align: center;
}
